/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: #539DFF #1A1A40; /* Para navegadores Firefox */
}

*::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

*::-webkit-scrollbar-track {
    background: #1A1A40; /* Cor do fundo da barra de rolagem */
}

*::-webkit-scrollbar-thumb {
    background-color: #539DFF; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas na barra de rolagem */
}

.flex {
    display: flex;
}

.btn-cv button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #539DFF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    transition: .2s;
}

body {
    background-color: #1A1A40;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    color: #F0F0F0;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul li a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

header nav ul li a:focus {
    outline: 2px solid #539DFF; 
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #539DFF;
}

/* Hover no nome "Gabe" */
.logo a span:hover {
    color: #F0F0F0; 
    transition: color 0.5s ease-in-out; /* Transição mais suave */
    text-decoration: none; 
}

.btn-cv button:hover {
    box-shadow: 0px 0px 8px #539DFF;
    transform: scale(1.05);
}

/* Estilo topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #539DFF;
    font-size: 42px;
}

.topo-do-site .txt-topo-site p {
    color: #ffffff;
    text-align: justify;
    margin: 15px 0;
    line-height: 25px;
}

.img-topo-site img {
    width: 400px; /* Tamanho ajustado da imagem */
    height: auto;
}

/* Estilo dos ícones de redes sociais */
.social-links a {
    font-size: 32px; /* Aumentando o tamanho dos ícones */
    color: #F0F0F0;
    transition: color 0.3s ease;
    margin-right: 15px;
    line-height: 45px;
}

.social-links a:last-child {
    margin-right: 0; /* Remover margem direita do último ícone */
}

.social-links a:hover {
    color: #539DFF;
}

/* Estilo da seção de certificações */
.certificacoes {
    padding: 40px 4%;
    background-color: #1A1A40; /* Cor de fundo */
    color: #F0F0F0; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
}

.certificacoes h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #539DFF; /* Cor do título */
}

.certificacoes ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding padrão */
}

.certificacoes ul li {
    margin: 10px 0; /* Espaçamento entre as certificações */
    font-size: 20px; /* Tamanho da fonte das certificações */
    transition: color 0.3s; /* Transição suave na mudança de cor */
}

.certificacoes ul li:hover {
    color: #539DFF; /* Muda a cor ao passar o mouse */
}



/* Estilo do rodapé */
.rodape {
    text-align: center;
    padding: 20px 0;
    background-color: #1A1A40;
    color: #F0F0F0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .topo-do-site h1 {
        font-size: 28px;
    }

    .img-topo-site img {
        width: 100%; /* Imagem ocupa 100% da largura em dispositivos menores */
        height: auto;
    }

    header nav ul {
        flex-direction: column;
        padding: 10px;
        margin: 0;
    }

    header nav ul li {
        padding: 5px 0;
    }
}
